:root {
  --primaryColor: #fb923c;
  --lightenPrimaryColor: #fde8d8;
  --hoverPrimaryColor: #ea580c;
  --whiteColor: #fff;
  --blackColor: #111827;
  --greyColor: #dad9d9;
  --hoverGreyColor: #454343;
  --greyBg: #f5f5f4;
  --textColor: #71717a;
  --input-color: #e4e4e7;
}
